.root {
    -fx-background-color: #fdf1cd;
}

#judul {
    -fx-font-size: 35px;
    -fx-font-weight: bold;
    -fx-text-fill: #11336E;
    -fx-effect: dropshadow(one-pass-box, #00000088, 3, 0.0, 2, 2);
    -fx-font-family: "Georgia";
    -fx-padding: 0 0 30 0;
}

.form-row {
    -fx-spacing: 0;
    -fx-alignment: center;
    -fx-padding: 5;
}

.form-label {
    -fx-background-color: #11336E;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 15;
    -fx-min-width: 120px;
    -fx-alignment: center-right;
    -fx-font-size: 13px;
    -fx-font-family: "Poppins";
}

.form-input {
    -fx-background-color: #6A88A9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
    -fx-pref-width: 180px;
    -fx-padding: 10;
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #ffffffcc;
}

.profile-image {
    -fx-border-color: #11336E;
    -fx-border-width: 3px;
    -fx-border-radius: 100px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 2);
    -fx-padding: 20;
}

.button-form {
    -fx-background-color: #6A88A9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20;
    -fx-background-radius: 20px;
    -fx-font-size: 13px;
    -fx-font-family: "Poppins";
    -fx-cursor: hand;
}

.text-area {
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #6A88A9;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
}

.tile-pane {
    -fx-background-color: #ffffff;
}

.label-bio-display {
    -fx-text-fill: #11336E;
    -fx-font-weight: bold;
    -fx-min-width: 120px;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
    -fx-font-family: "Poppins";

}

.custom-alert {
    -fx-background-color: #ffffff;
    -fx-background-radius: 5px;
    -fx-font-family: "Poppins";
}

.custom-alert .content.label {
    -fx-text-fill: #11336E;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 20 10 10 10;
}

.custom-alert .button-bar .button {
    -fx-background-color: #ff0000;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-background-radius: 6px;
}

.custom-alert .button-bar .button:hover {
    -fx-background-color: #e60000;
}


